.admin-main {
  float: left;
  margin: 0 0 0 20px;
  width: 81%;
}

.admin-menu {
  float: left;
  margin: 0;
  width: 16%;
}

.admin-menu li {
  font-size: 1.2em;
  list-style: none;
  margin: 5px;
}

.admin-menu button {
  background: #fb7a00;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  padding: 5px;
  text-shadow: 0 1px 0 #000;
  width: 100%;
}

table {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 14px;
  line-height: 24px;
  margin: 5px auto;
  text-align: left;
  width: 98%;
}

th {
  background: linear-gradient(#fa6900, #fb7a00);
  border-left: 1px solid #555;
  border-right: 1px solid #777;
  border-top: 1px solid #555;
  border-bottom: 1px solid #333;

  box-shadow: inset 0 1px 0 #999;
  color: #fff;
  font-weight: bold;
  padding: 10px 15px;
  position: relative;
  text-shadow: 0 1px 0 #000;
}

th:after {
  background: linear-gradient(rgba(255,255,255,0), rgba(255,255,255,.08));
  content: '';
  display: block;
  height: 25%;
  left: 0;
  margin: 1px 0 0 0;
  position: absolute;
  top: 25%;
  width: 100%;
}

th:first-child {
  border-left: 1px solid #777;
  box-shadow: inset 1px 1px 0 #999;
}

th:last-child {
  box-shadow: inset -1px 1px 0 #999;
}

td {
  border-right: 1px solid #fff;
  border-left: 1px solid #e8e8e8;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #e8e8e8;
  padding: 10px 15px;
  position: relative;
  transition: all 300ms;
}

td:first-child {
  box-shadow: inset 1px 0 0 #fff;
}

td:last-child {
  border-right: 1px solid #e8e8e8;
  box-shadow: inset -1px 0 0 #fff;
}

tr:last-of-type td {
  box-shadow: inset 0 -1px 0 #fff;
}

tr:last-of-type td:first-child {
  box-shadow: inset 1px -1px 0 #fff;
}

tr:last-of-type td:last-child {
  box-shadow: inset -1px -1px 0 #fff;
}

/*tbody:hover td {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}*/

.blurred-row {
  color: transparent;
  text-shadow: 0 0 3px #aaa;
}

.selected-row {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

.admin-buttons {
  text-align: center;
}

.admin-buttons button {
  background: #fb7a00;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 10px;
  padding: 5px;
  text-shadow: 0 1px 0 #000;
}
