/* CSS Reset */
* {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Hidden elements */
.hidden {
  display: none;
}

/* Main structure */
html,
body {
  height: 100%;
  min-height: 100%;
}

.body-wrapper {
  background: #e0e4cc;
  min-height: 100%;
  min-width: 1000px;
  margin: 0 auto;
  padding: 0 0 60px;
  width: 100%;
}

.body-wrapper:after {
    content: "";
    display: table;
    clear: both;
}

/* Header */
header {
  align-items: center;
  background: #69d2e7;
  display: flex;
  height: 70px;
  justify-content: space-between;
  padding: 0 10px;
}

.logo {
  flex-basis: 330px;
  order: 1;
}

.nav-main {
  height: 66px;
  line-height: 66px;
  order: 2;
}

.user-session {
  color: #ffb762;
  flex-basis: 200px;
  font-size: 1.4em;
  font-weight: bold;
  height: 66px;
  line-height: 66px;
  order: 3;
  padding: 0 15px 0 0;
  text-align: right;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.user-popup {
  background: #e0e4cc;
  border: 2px #e0e4cc;
  border-radius: 15px;
  -moz-box-shadow: 4px 4px 4px 0 rgba(0,0,0,.75);
  -webkit-box-shadow: 4px 4px 4px 0 rgba(0,0,0,.75);
  box-shadow: 4px 4px 4px 0 rgba(0,0,0,.75);
  display: none;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  padding: 5px;
  position: relative;
  top: -15px;
  visibility: hidden;
  width: 210px;
  z-index: 100;
}

.user-popup li {
  list-style: none;
}

.user-popup a {
  color: white;
  font-weight: bold;
}

.user-session:hover .user-popup {
  display: block;
  visibility: visible;
}

.user-session:hover .user-popup-inner {
  display: block;
  visibility: visible;
}

.user-popup-inner {
  background: #69d2e7;
  border-radius: 10px;
  display: none;
  font-size: 1em;
  font-weight: normal;
  line-height: 1.5em;
  height: 80%;
  padding: 5px;
  text-align: center;
  top: -20px;
  visibility: hidden;
  z-index: 100;
}

.user-popup-inner ul {
  margin: 0;
}

.user-popup-inner a {
  color: #ffb762;
}

.login-field {
  margin: 0 0 10px 0;
}

.login-field label {
  color: #eee;
}

.login-field input {
  color: #000;
  width: 168px;
}

.register-link {
  color: #eee;
  font-size: 11px;
  text-align: center;
}

#remember {
  margin: 0 8px 0 0;
  position: relative;
  top: 2px;
  width: 18px;
}

.button-login {
  background: #69d2e7;
  border-radius: 15px;
  box-sizing: border-box;
  color: #ffb762;
  display: block;
  font-weight: bold;
  height: 2em;
  line-height: 2em;
  margin: 0 auto;
  overflow: none;
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
  width: 70px;
}

/* Jumbotron */
.jumbo {
  background: url(../img/travelcr.jpg);
  border-radius: 15px;
  height: 300px;
  margin: 20px auto;
  max-width: 970px;
  padding: 15px;
}

.jumbo-text {
  color: #111;
  font-size: 35px;
  font-weight: bold;
  left: 530px;
  position: relative;
  text-shadow:
    -1px -1px 0 #69d2e7,
    1px -1px 0 #69d2e7,
    -1px 1px 0 #69d2e7,
    1px 1px 0 #69d2e7;
  top: -15px;
  width: 400px;
}

main {
  padding: 20px;
}

/* Messages */
.messages {
  background: #fa6900;
  border-radius: 15px;
  color: #fff;
  margin: 0 0 20px 0;
  padding: 10px;
}

.listings, .admin-main {
  background: #69d2e7;
  border-radius: 15px;
  min-width: 760px;
  padding: 10px;
}

.listings {
  float: left;
  margin: 0 20px 0 0;
  width: 81%;
}

.controls, .admin-menu {
  background: #69d2e7;
  border-radius: 15px;
  max-width: 195px;
  min-width: 150px;
  padding: 10px;
}

.controls {
  float: right;
  margin: 0;
  width: 16%;
}

.controls button {
  background: #fb7a00;
  border-radius: 5px;
  color: white;
  font-weight: bold;
  margin: 10px 0 0;
  padding: 5px;
  text-shadow: 0 1px 0 #000;
  width: 100%;
}

.calendar-prompt {
  color: #ffb762;
  flex-basis: 200px;
  font-size: 1.4em;
  font-weight: bold;
  text-align: center;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

/* Footer */
footer {
  background: #fa6900;
  bottom: 0;
  display: block;
  height: 40px;
  margin: -40px 0 0;
  width: 100%;
}

footer p {
  color: white;
  float: right;
  font-weight: bold;
  line-height: 40px;
  margin: 0 10px 0 0;
}

footer a {
  color: #69d2e7;
}

.license {
  display: inline-block;
  height: 40px;
  line-height: 40px;
  margin: 0 0 0 10px;
}
