.registration-form {
  background: #69d2e7;
  border-radius: 15px;
  margin: 0 20px;
  padding: 20px;
}

.register-field label {
  text-align: right;
  padding: 5px;
  width: 200px;
}

.button-register {
  background: #fa6900;
  border-radius: 15px;
  box-sizing: border-box;
  color: #fff;
  display: block;
  font-weight: bold;
  height: 2em;
  left: 220px;
  line-height: 2em;
  margin: 10px 0 0 0;
  position: relative;
  text-align: center;
  width: 120px;
}
